nav {
  display: flex;
  height: 80px;
  list-style-type: none;
  color: #f0f8ff;
  font-size: 25px;
  justify-content: space-around;
  padding: 15px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
li{
  color: black;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

li:hover {
  background-color: #000429 ;
}